body {
  /*margin top: 2em;*/
  /*margin-right: 25%;
  margin-left: 25%*/
  /*padding: 2em;*/
  /*background: linear-gradient(turquoise, white);*/
}

.container {
  margin-top: 2em;
  padding: 3em;
  background: linear-gradient(silver, white);
}

.well {
  background: linear-gradient(gray, white);
}

.row {
  padding: .5em;
}

.styled-p{
  margin:0;
  padding: .25em;
  font-size: 1.33em;
}

.contacts-name{
  font-size: 1.5em;
}

.some-space {
  margin-bottom: 1em;
}
