<h1>ADD A CONTACT</h1>
<form action="/Contacts" method="post">
  <label for="newContact">Add a New Contact</label>
  <input id="newContact" name="new-item" type="text">
  <button type="submit">Submit</button>
</form>
