@{
  Layout = "_Layout";
}
<div class="container well">
  <div class="jumbotron">
    <h1>CONTACTS LIST</h1>
  </div>
    <div class="container">
      <div class="panel row">
    @if (@Model.Count == 0)
    {
      <h3 class="some-space">Contacts List is empty!</h3>
    }
    else
    {
      <ol>
        @foreach (var contact in Model)
        {
          if (@contact.GetCompany() !="")
          {
            <li><a href="/Contacts/@contact.GetID()" class="contacts-name">@contact.GetCompany()&nbsp;(&nbsp;@contact.GetFirstName()&nbsp;@contact.GetLastName()&nbsp;)</a></li>
          }
          else
          {
          <li><a href="/Contacts/@contact.GetID()" class="contacts-name">@contact.GetFirstName()&nbsp;@contact.GetLastName()</a></li>
          }
        }
      </ol>
    }
  </div>
    <div class="form-group panel row">
      <form action="/Contacts/new" class="col-3" method="post">
        <button type="submit" class="btn btn-primary">Create a Contact</button>
      </form>
      <form action="/Contacts/clear" class="col-2" method="post">
        <button type="submit" name="button" class="btn btn-danger">Clear Contacts</button>
      </form>
    </div>
  </div>
</div>
