<h1>CONTACTS LIST</h1>
@foreach(var contact in Model)
{
  <li>@contact.GetFirstName()&nbsp;@contact.GetLastName</li>
}
<p><a href="/Contacts/new">Add another item</a></p>

<!-- <form action="/Items" method="post">
  <label for="new-item">Item description:</label>
  <input id="new-item" name="new-item" type="text">
  <button type="submit">Submit</button>
</form> -->

<form action="/Contacts/delete" method="post">
  <button type="submit" name="button" class="btn btn-danger">Clear Contacts</button>
</form>
