<h1>CONTACTS LIST</h1>
<ul>
  <h2>CONTACT</h2>
</ul>
<p><a href="/Items/new">Add another item</a></p>

<!-- <form action="/Items" method="post">
  <label for="new-item">Item description:</label>
  <input id="new-item" name="new-item" type="text">
  <button type="submit">Submit</button>
</form> -->

<form action="/Contacts/delete" method="post">
  <button type="submit" name="button" class="btn btn-danger">Clear Contacts</button>
</form>
